/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */
body
{
    background: url('../images/ciel.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
     width: 100%;
     display: block;
}

header
{

display: block;
width: 100%;
z-index: 0;
}

.noire
{
    background-color:#040404;
    display: block;
    height: 40px;
     width: 100%;
     position: absolute;
     top: 0px;
 right: 0px;
  z-index: 1;
}

.bleu
{
 background-color:#1695F8;	
 display: block;
 height: 40px;
 width: 100%;
 top: 40px;
 position: absolute;
 right:  0px;
}

/* Navigation */

nav ul, #nav_accueil ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 10px;
}


nav a , li span
{ 
    font-size: 0.8em;
    color: #E9F1F7;
    padding-bottom: 3px;
    text-decoration: none;
}



nav a:hover
{
    color: #1695F8;
    border-bottom: 0px solid #760001;
    
}

#nav_accueil a:hover
{
    color: #760001;
    border-bottom: 0px solid #760001;
     font-size: 1.2em;
}


.banniere
{
	background-color:#E9F1F7;
    display: block;
     width: 100%;
     position: absolute;
     right: 0px;
     top:80px;
     height:50px;
}

#nav_1
{
 display: block;
 position: absolute;
 color: #E9F1F7;
 right: 0px;
 top: 0px;
  z-index: 2;
}

/*
#nav_accueil
{
 display: block;
 position: absolute;
 right: 10px;
 top: 0px;
 z-index:2;
}

/* set up the right arrows first 
#nav_accueil li > a:after
{
content:'\25B6';
}
/* set up the downward arrow for top level items 
#nav_accueil > ul > li > a:after
{
content:'\a0\a0\a0\25BC';
font: bold 12px Arial, Helvetica, Sans-serif;
}

/* clear the content if a is only child
#nav_accueil li > a:only-child:after
{
content: '';
}

#nav_accueil a 
{ 
    font-size: bold;
    color: #D8DCDF;
    padding-bottom: 3px;
    text-decoration: none;
}

#nav_accueil li::after {
content: "|";
float: right;
margin-left:5px;
margin-right:5px;
color: #fff;
}
#nav_accueil li:last-child::after {
display: none;
content: '';
}

*/

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}