/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */
body
{
    background: url('../images/fond_bleu.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
     width: 100%;
     display: block;
     z-index: 0;
}

header
{

display: block;
width: 100%;
z-index: 0;
}


#separateur
{
    display: block;
    position: relative;
    width: 100%;
    top: 0px;
    height: 15px;
    left: 0PX;
    background-color: red;
    z-index: 0;
}

.img_avion
{
border-radius: 20px 20px 20px 20px;  
}

section
{
    display: block;
    position: absolute;
    width: 100%;
    height: 700px;
    text-align: center;
    top: 530px;
    left: 0PX;
    z-index: 0;
}

h1
{
display: inline-block;
margin: auto;    
font-family: 'Dayrom', 'BallparkWeiner',sans-serif;
font-size: 1.2em;
}

strong
{
     color: #333;
     font-size: 1.2em;
}
.noire
{
    background-color:#040404;
    display: block;
    height: 80px;
     width: 100%;
     left: 0px;
     position: fixed;
     top: 0px;
  z-index: 1;
}


/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 10px;
}


nav a , li span
{ 
    font-size: 0.8em;
    color: #E9F1F7;
    padding-bottom: 3px;
    text-decoration: none;
}



nav a:hover
{
    color: #1695F8;
    font-size: 1em;
    border-bottom: 0px solid #760001;
    
}

.banniere
{
	background-color:#E9F1F7;
    display: block;
     width: 100%;
     position: absolute;
     background: url('images/banniere.jpg') no-repeat;
     left: 0px;
     top:130px;
     height:400px;
     z-index:0
}

.banniere img
{
    height: 400px;
    width: 100%;
}

.menu_nav
{ 
 display: block;
 height: 50px;
 width: 100%;
 left: 0px;
 top: 80px;
 background-color: #333;
 position: fixed;
 z-index: 4;
}

ul li img 
{
   border-radius: 17px 17px 17px 17px;  
}
.logo img
{
 border-radius: 0 0 8px 8px;
 }

 .logo 
{
 display: block;
 position: absolute;
 left: 10%;
 }


 /* Navbar container */

.navbar {
 display: inline-block;
 float: right;
 background-color: #333;
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 





#nav_1
{
 display: inline-block;
 position: absolute;
 right: 120px;
 color: #E9F1F7;
 top: 0px;
  z-index: 2;
}

.languagepicker {
    background-color: #FFF;
    display: inline-block;
    padding: 0;
    float: right;
    height: 30px;
    overflow: hidden;
    transition: all .3s ease;
}


.languagepicker:hover {
    /* don't forget the 1px border */
    height: 61px;
}

.languagepicker a{
    color: #000;
    text-decoration: none;
}

.languagepicker li {
    display: block;
    padding: 0px 20px;
    line-height: 30px;
    border-top: 1px solid #EEE;
}

.languagepicker li:hover{
    background-color: #EEE;
}

.languagepicker a:first-child li {
    border: none;
    background: #FFF !important;
}

.languagepicker li img {
    margin-right: 5px;
}

.roundborders {
    border-radius: 5px;
}


@import "bourbon";

*{
  box-sizing: border-box;
}
body{
  background: black;
}

span{
  margin: 0;
  padding: 0;
}

.end-left{
  margin-left: -235px;
}

.end-right{
  margin-right: -117.5px;
}
.outline{
  position: absolute;
  top: 20px;
}

.outline{
    color: black;
   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: orange;
   font-size: 64px;
  font-family: 'Arvo', serif;
}

.orbs{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  display: block;
  font-size: 128px;
 
  
  span{
     color: red;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    text-shadow: 0 0 20px orange, 1px 1px 20px orange, 2px 2px 20px orange, -1px -1px 20px orange, -2px -2px 20px orange;
    position: absolute;
    left: 50%;
    
    &:first-child{
      margin-left: -210px;
    }
    
    &:not(:first-child){
      margin-left: -35px;
    }
  }
}

.glow{
  opacity: 0;
  font-family: 'Arvo', serif;
  font-weight: 300;
  color: orange;
  margin-left: -222.5px;
  font-size: 105px;
  position: absolute;
  top: 200px;
  left: 50%;
}